@page
@model UHPostalService.Pages.Tracking.CheckInModel
@{
    ViewData["Title"] = "Shipment Check In";
}

<h1>Check In</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="TrackingRecord.EmployeeId" class="control-label"></label>
                <select asp-for="TrackingRecord.EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>-->
            <div class="form-group">
                <label asp-for="TrNums" class="control-label">Tracking Numbers</label>
                <input asp-for="TrNums" class="form-control" />
                <span asp-validation-for="TrNums" class="text-danger"></span>
            </div>
            <!--
            <form class="form-inline" method="post" asp-page="/Tracking/CheckIn">
                <input class="form-control mr-sm-2" aria-label="Search" type="number" name="urltrnum" placeholder="Tracking Number">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Check In" />     
            </form>-->
           <!--<div class="form-group">
                <label asp-for="TrackingRecord.StoreId" class="control-label"></label>
                <select asp-for="TrackingRecord.StoreId" class ="form-control" asp-items="ViewBag.StoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrackingRecord.TimeIn" class="control-label"></label>
                <input asp-for="TrackingRecord.TimeIn" class="form-control" />
                <span asp-validation-for="TrackingRecord.TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingRecord.TimeOut" class="control-label"></label>
                <input asp-for="TrackingRecord.TimeOut" class="form-control" />
                <span asp-validation-for="TrackingRecord.TimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingRecord.Destination" class="control-label"></label>
                <select asp-for="TrackingRecord.Destination" class ="form-control" asp-items="ViewBag.Destination"></select>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Check In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}