@page
@model UHPostalService.Pages.Tracking.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Checkout</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                 <input type="hidden" asp-for="recordId" />
                <label asp-for="nextstop" class="control-label">Next Stop</label>
                <select asp-for="nextstop" class ="form-control" asp-items="ViewBag.NextStops">ab</select>
            </div>

            <div class="form-group">
                <input type="submit" value="Change Route" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
