@page
@model UHPostalService.Pages.Account.AccessDeniedModel
@{
        ViewData["Title"] = "Access Denied";
}


<h1>@ViewData["Title"]</h1>
<p>
    You are not authorized to access this page, please contact Admin.
</p>