@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    .title {
        font-family: 'League Gothic';
        color: black;
        font-weight: bold;
    }
    .para {
        font-family: 'League Gothic';
        color: black;
        font-size: 20px;
    }
    .para2 {
        font-family: 'League Gothic';
        color: black;
        font-weight: bold;
        font-size: 22px;
    }

</style>
<div class="text-center">
    <h1 class="title">UH Postal Service</h1>
    <IMG align="left" src="https://media.istockphoto.com/photos/happy-young-man-carrying-a-cardboard-box-isolated-picture-id174416612?k=20&m=174416612&s=612x612&w=0&h=HN3y4eyZXBs40UUdlFBuD2rIbl-JwTaUXKOr14YOWmU=" alt="Person with box" width="300" 
     height="400"/>
     <br>
     <p style="text-align:center;"class="para"> Put simply, customer satisfaction is of the utmost importance at UHPS. At UHPS we ship a varying quantity of materials, big or small! We pride ourselves in providing our customers with fast shipping and excellent customer service. If you are looking for a company that can provide quality shipping for all your business needs, look no further than UHPS, Inc.
          The professionals that work here understand that each job must be done correctly, in a timely manner and will ensure that your package arrives safely to your doorstep...We know how important it is to keep your items safe until they reach their final destination so our packing specialists do just that....UHPS, Inc.'s Shipping Service makes sure your packages arrive in tip top shape!! UHPS, Inc.
    </p>
    <p style="text-align:center;"class="para2">Above are all of our services ready at your leisure.
</p>
</div>
